# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/

# Arduino
*.tmp
*.bak

# VSCode
.vscode/

# PlatformIO (if you ever use it again)
.pio/

# ML training
ml/.venv/
ml/runs/
ml/mango-defect-detectionv4-*/
ml/*.pt
ml/yolo11*.pt
